@model IEnumerable<Shared.Models.ConferenceModel>
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Start of the event</th>
                <th>Attendees</th>
                <th>Actions</th>
            </tr>
            @Html.DisplayForModel()
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        @*'Statistics' is the name of the View Component that has to be invoked, it will call the InvokeAsync method of the component with the provided
        parameters which in this case is the caption.*@
        @await Component.InvokeAsync("Statistics", new { caption = "Statistics" }).ConfigureAwait(false);
    </div>
    <div class="col-md-4">
        <a asp-action="Add">Add</a>
    </div>
</div>